.list-no-search-results{
    display: flex;
    height: calc(100vh - 104px);
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
}

.display-list{
    flex: 0.8;
}


@media screen and (max-width: 768px) {
    .display-list{
        flex: 1;
    }
}