.genre-filters-row{
    cursor: pointer;
}

.genre-filters{
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 85vw;
}

.genre-filters::-webkit-scrollbar {
    display: none;
}

.genre-filter{
    opacity: 0.6;
}

.genre-filter-active{
    opacity: 1;
}