.card{
    background-color: rgb(13, 37, 63, 0.7);
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
}

.card-icon{
    flex: 0.5;
    font-size: 1.2rem;
}

.card img{
    border-radius: 0 0 10px 10px;
    height: 270px;
}

.card-ratings{
    top: 45px;
    right: 10px;
}
/*
.card-img-top{
    width: 200px;
    height: 270px;
    border-radius: 0 0 10px 10px;
}
*/