.item-background{
    object-fit: cover;
}

.item-left{
    flex: 0.3;
}

.item-right{
    flex: 0.7;
}

.item-poster{
    border-radius: 20px;
    height: 70vh;
}

.item-tagline{
    font-style: italic;
    font-weight: 600;
}

.item-icon{
    margin-right: 15px;
    width: 40px;
    height: 40px;
}

.item-icon:not(:first-child){
    background-color: #0d253f;
    cursor: pointer;
}

.item-network{
    max-width: 70px;
    max-height: 30px;
    object-fit: contain;
    margin-right: 1rem;
}

.item-overview p{
    max-height: 15vh;
    overflow: auto;
}

.read-more-btn{
    font-weight: bold;
    padding-top: 0.1rem;
    padding-left: 0.5rem;
}

.item-director{
    flex: 0.3;
}

.item-casts{
    flex: 0.7;
}

.item-casts p{
    max-height: 20vh;
    overflow: auto;
}

.item-recommendations{
    position: absolute;
    top: 100%;
    background-color: rgb(13, 37, 63, 0.6);
}

.item-recommendations-list{
    overflow: auto hidden;
}

.item-recommendation-card{
    transform: scale(0.9);
}