.watch-later-body{
    display: flex;
}

.watch-later-page h1 {
    margin: 10px 0 30px;
    text-align: center;
    background-color: #0d253f;
    color: whitesmoke;
    padding: 3px 0 8px;
    border-radius: 10px;
}

.list-no-search-results{
    display: flex;
    height: calc(100vh - 104px);
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}