.modal-content{
    color: whitesmoke;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: fit-content;
}

.modal-header{
    border: none;
    background-color: rgb(128, 128, 128, 0.8);
    padding: 0;
}

.modal-header > button{
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 999;
    background-color: whitesmoke !important;
}

.modal-subheader{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin: 10px 0;
    flex-wrap: wrap;
}

.modal-subheader h6{
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin: 0 10px 0 0;
}

.modal-subheader h6:not(:first-child){
    background-color: lightgrey;
}

.modal-icons{
    display: flex;
    width: 8rem;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.modal-icon{
    background-color: rgb(13, 37, 63, 0.3);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
}

.modal-icons a{
    width: 15px;
    height: 30px;
}

.modal-body{
    display: flex;
    background-color: rgb(128, 128, 128, 0.8);
    border-radius: 0.3rem;
    padding-bottom: 30px;
}

.modal-info{
    padding: 0 30px;
}

.modal-info a{
    color: whitesmoke;
    text-decoration: none;
}

.modal-status{
    display: flex;
}

.modal-status p{
    background-color:rgb(13, 37, 63, 0.5);
    margin: -10px 10px 10px 0;
    padding: 5px;
    border-radius: 5px;
}

.modal-people{
    display: flex;
    font-weight: 100;
}

.modal-directors{
    flex: 0.5;
}

.modal-casts{
    flex: 0.5;
}

.modal-casts button{
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: #0d253f;
}